.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align:center;
  padding-left: 30px;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}


img.icon{
  width: 15px;
  padding: 0 5px ;
}

div.filter{
  color: #1d96e8;
}